:root {
    --color-primary: #72b2da; //#5fa8d4;
    --color-secondary: #e9c666;
    --color-info: #3294CE;
    --color-success: #89dc7a; //#41c183; //darkseagreen //mediumseagreen
    --color-error: tomato; //palevioletred
    --color-warning: gold;
    --color-neutral: silver;
}
