<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%%= webpackConfig.output.publicPath %%>favicon.ico">
  <title><%= rootOptions.projectName %></title>
  <!--Polyfill JS features via polyfill.io-->
  <!--<script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=a,b"></script>-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700">
  <!--<link rel="stylesheet" href="/css/rosem.css">-->
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<noscript>
  <strong>We're sorry but <%= rootOptions.projectName %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!--Global configuration object-->
<script>window.config = {
  appName: 'Rosem',
  locale: 'en-US'
};</script>
<!-- built files will be auto injected -->
</body>
</html>
